<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Face Collector</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
</head>
<body>
<section class="hero is-info is-fullheight">
	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="column is-6 is-offset-3">
				<h1 class="title">Face Collector</h1>

				<h2 class="subtitle">Face Collector let you automatically have emojis of a streamer's face on your discord server. 😎</h2>

				<div class="box">
					<form th:action="@{/collect}" th:object="${request}" method="post">
						<div class="field is-grouped">
							<div class="control is-expanded">
								<input class="input" type="text" th:field="*{streamer}"
									   placeholder="Twitch streamer name">
							</div>
							<div class="control">
								<input type="submit" class="button is-primary" value="Start collecting">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>
