<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Face Collector</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
</head>
<body>
<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half">
				<article class="message is-success">
					<div class="message-header">
						<p>Success!</p>
					</div>
					<div class="message-body">
						That streamer's face is being collected to your Discord server!
					</div>
				</article>

				<div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/111ebonMs90YLu" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/thumbs-up-111ebonMs90YLu">via GIPHY</a></p>
			</div>
		</div>
	</div>
</section>
</body>
</html>